<h1> Sign up</h1>

<%= form_for(@user, url: signup_path) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name , class: 'form-control'%>
  <%= render 'shared/error_messages_name', object: f.object %>
  <%= f.label :email %>
  <%= f.email_field :email , class: 'form-control'%>
  <%= render 'shared/error_messages_email', object: f.object %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= render 'shared/error_messages_password', object: f.object %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation , class: 'form-control'%>
  <%= render 'shared/error_messages_password_confirmation', object: f.object %>
  <%= f.submit  "sign up" , class: "btn btn-primary form-control" %>

<% end %>