<div class="col-sm-4">
  <div class="card todo-card card-<%= todo.status %>" style="width: 36rem; height: 30rem">
    <div>
      <div class="card-body">
        <h5 class="card-title"><%= todo.title %> <span class="badge badge-<%= todo.priority %>">
          <%if todo.priority == '3' %>
               low
            <% elsif todo.priority == '2' %>
               medium
            <% else %>
                high
            <% end %>
            </span></h5>
        <h6 class="card-subtitle mb-2 text-muted">created <%= time_ago_in_words(todo.created_at) %> ago</h6>
        <% if !todo.done && todo.deadline_at %>
          <% if todo.deadline_at.to_i > Time.now.to_i %>
            <h6 class="card-subtitle mb-2 text-muted">deadline is on <%= todo.deadline_at.strftime('%Y-%m-%d') %> </h6>
          <% else %>
            <h6 class="card-subtitle mb-2 text-muted" style="color: red">deadline over  </h6>
          <% end %>
          <% end %>
        <span class="label label-pill label-<%= todo.status %>"><%= todo.status %></span>
        <p class="card-text"><%= todo.content %></p>
        <% if !todo.done %>
          <% if todo.deadline_at.to_i > Time.now.to_i %>
            <%= link_to "edit" , edit_user_todo_path(@user,todo), :class => "card-link" %>
          <% end %>
          <% if todo.status == 'not started' %>
            <%= link_to "start" , task_started_user_todo_path(@user,todo.id), method: :patch %>
          <% else %>
            <%= link_to "completed" , task_completed_user_todo_path(@user,todo.id), method: :patch %>
            <% end %>
        <% end %>
        <%= link_to "remove" , [@user,todo] ,  method: :delete , :class => "card-link" , data: { confirm: "are you sure?" } %>

        <div>
          <% todo.tags.each do |t| %>
            <span class="badge"> #<%= t.name  %></span>
          <% end %>
        </div>
      </div>
      </div>

  </div>
</div>



