<div class="form">
<%= form_for ([@user,@todo]) do|f| %>
    <%= f.label :title %>
    <%= f.text_field :title , placeholder: "provide a title", class: "form-control"  %>
    <%= f.label :content %>
    <%= f.text_area :content , placeholder: "add new task",  class: "form-control"    %>
    <%= f.select :priority, [["low",3], ["medium",2] , ["high",1]],  class: "form-control"  %>
    <%= f.hidden_field :status%>
    <%= f.hidden_field :deadline_at %>
  <%= f.submit "save changes",  class: "btn btn-primary form-control"  %>
<% end %>
</div>