<div class="container">

  <%= render 'user_info' %>
  <%= render 'taskbar' %>

  <div class="row text-center">
    <%= link_to new_user_todo_path(current_user), class: 'btn btn-default create-icon' do %>
      <span class="glyphicon glyphicon-plus "></span>
      Create new Task
    <% end %>
  </div>

  <div class="paginate-style text-center"><%= paginate @todos %></div>
  <% @todos.each do |todo|%>
    <%= render todo %>
  <% end %>
  <div class="paginate-style text-center"><%= paginate @todos %></div>

</div>
