
<h1> <%= t('.title') %></h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-md-6">
      <p> sort by
        <%= link_to "default", todos_path(order: 'all') %>
        <%= link_to "orderbycreated", todos_path(order: 'created')%>
        <%= link_to "orderbydeadline", todos_path(order: 'deadline')%>
      </p>
    </div>
    <div>

      <%= form_tag(todos_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "search here"%>
        <%= submit_tag 'Search' %>
      <% end %>

      <% if I18n.locale == I18n.default_locale %>
        <%= link_to "日本語", { :locale=>'ja'} %>
      <% else %>
        <%= link_to "English", { :locale=>'en' } %>
      <% end %>
    </div>
  </div>
  <% @todos.each do |todo|%>
     <%= render todo %>
   <% end %>
</div>